.rotate, 
.spin {
    pointer-events: none;
}

.rotate {
    animation: rotate-logo infinite 5s linear;
    filter: invert(100%) sepia(34%) saturate(387%) hue-rotate(118deg) brightness(106%) contrast(91%);
}
.spin {
    animation: spin-logo infinite 15s linear;
}


@keyframes rotate-logo {
    from {
        transform: perspective(1000px) rotateY(0deg);
    }

    to {
        transform: perspective(1000px) rotateY(360deg);
    }
}


@keyframes spin-logo {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}