@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.roboto-slab {
  font-family: 'Roboto Slab', serif;
}

.body-bg {
  background: rgb(2,31,60);
  background: -moz-linear-gradient(90deg, rgba(2,31,60,1) 0%, rgba(2,21,47,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(2,31,60,1) 0%, rgba(2,21,47,1) 100%);
  background: linear-gradient(90deg, rgba(2,31,60,1) 0%, rgba(2,21,47,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#021f3c",endColorstr="#02152f",GradientType=1);
}

.gradient-1 {
  background: #C850C0;
  background: linear-gradient(43deg, #4156c0 0%, #C850C0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-2 {
  background: #FBAB7E;
  background: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo {
  background: rgb(255,150,113);
  background: radial-gradient(circle, rgba(255,150,113,1) 0%, rgba(255,111,145,1) 33%, rgba(214,93,177,1) 66%, rgba(132,94,194,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-text {
  color: #81afdd;
}

@layer components {
  .nav-links {
    @apply px-3 lg:px-4;
  }
  .menu-btn {
    @apply cursor-pointer w-8 h-8 text-white;
  }
  .page-heading {
    @apply text-center text-2xl md:text-4xl lg:text-5xl font-bold py-4 md:py-6 lg:py-8 gradient-2;
  }
  .home-page-section {
    @apply flex flex-col w-full my-12 py-12 md:my-16 md:py-16 lg:my-24 lg:py-24;
  }

  .p-container {
    position: relative;
    @apply lg:m-3 m-1;
  }
  .image {
    opacity: 1;
    display: block;
    /* width: 100%;
    height: auto; */
    transition: .2s ease;
    backface-visibility: hidden;
  }

.p-container:hover .image {
    @apply cursor-pointer brightness-50 lg:brightness-[20%] ;
}

.p-container:hover .middle {
    opacity: 1;
}

.middle {
    transition: .2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .hp-links {
    @apply w-full flex items-center justify-between p-2 home-page-links hover:text-white hover:cursor-pointer rounded-md;
  }
}

.FADE {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.details-bg {
  background: rgb(2,31,60);
  background: -moz-linear-gradient(90deg, rgb(5, 39, 73) 0%, rgb(3, 25, 56) 100%);
  background: -webkit-linear-gradient(90deg, rgb(5, 39, 73) 0%, rgb(3, 25, 56) 100%);
  background: linear-gradient(90deg, rgb(5, 39, 73) 0%, rgb(3, 25, 56) 100%);
  /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#021f3c",endColorstr="#02152f",GradientType=1); */
}

.home-page-links:hover {
  background: rgb(2,31,60);
  background: -moz-linear-gradient(90deg, rgb(5, 39, 73) 0%, rgb(3, 25, 56) 100%);
  background: -webkit-linear-gradient(90deg, rgb(5, 39, 73) 0%, rgb(3, 25, 56) 100%);
  background: linear-gradient(90deg, rgb(5, 39, 73) 0%, rgb(3, 25, 56) 100%);
}

.rotate,
.spin {
  pointer-events: none;
}

.rotate {
  -webkit-animation: rotate-logo infinite 5s linear;
          animation: rotate-logo infinite 5s linear;
  -webkit-filter: invert(100%) sepia(34%) saturate(387%) hue-rotate(118deg) brightness(106%) contrast(91%);
          filter: invert(100%) sepia(34%) saturate(387%) hue-rotate(118deg) brightness(106%) contrast(91%);
}

.spin {
  -webkit-animation: spin-logo infinite 15s linear;
          animation: spin-logo infinite 15s linear;
}

@-webkit-keyframes rotate-logo {
  from {
    -webkit-transform: perspective(1000px) rotateY(0deg);
            transform: perspective(1000px) rotateY(0deg);
  }
  to {
    -webkit-transform: perspective(1000px) rotateY(360deg);
            transform: perspective(1000px) rotateY(360deg);
  }
}

@keyframes rotate-logo {
  from {
    -webkit-transform: perspective(1000px) rotateY(0deg);
            transform: perspective(1000px) rotateY(0deg);
  }
  to {
    -webkit-transform: perspective(1000px) rotateY(360deg);
            transform: perspective(1000px) rotateY(360deg);
  }
}

@-webkit-keyframes spin-logo {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-logo {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}